.footer {
    background-color: $negro;
    padding-bottom: 1rem;
    margin-top: 3rem;
    padding-bottom: 3rem;
    
    &__bomberos {
        font-size: 1rem;
        padding: 1rem 0px;
        color: white;
        border-bottom: 4px solid $rojo;
        text-align: center;
        padding:3rem 0rem;
        margin-bottom: 4rem;
    }
    &__contacto {
        &--icono{
            color: $rojo;
            
        }

        &--textoPrincipal {
            color: white;
            font-size: 0.8rem;
            font-weight: $semi-bold;
            text-align: center;
            margin: 0;
        }
        &--texto {
            color: white;
                font-size: 0.8rem;
                font-weight: $medium;
                text-align: center;
                margin: 0;
        }
    }
    &__redes {
        background: $rojo;
        &--seguinos {
            font-family: $fuenteprincipal;
            font-weight: bold;
        }
        &--icono {
            color: white;
            font-size: 1.5rem;
            text-decoration: none;
            padding: 1rem 1rem;
            
        }
    }
}  