// INDEX //

.navbar {
    background-color: $rojo;
    box-shadow: 0px;
    font-family: $fuenteprincipal;
    font-weight: $semi-bold;
    color: white;
}

// PAGINAS //
.navbarPages {
    @extend .navbar;
    background-color: $negro;
    }




    
.boton-nav {
    background-color: transparent;
    border: 0px;
    margin: 0px;
    padding: 0px;
    color: white;
    z-index: 2;
    &--icono {
        font-size: 2.5rem;
        font-weight: bold;
    }
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
    text-decoration: none;
        &:hover {
        color: white;
        text-decoration: none;
        }
}

.navbar-collapse {
    z-index:2;
}


