//////// VARIABLES ////////

///  Weight ///
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

//  Colores
$rojo: #FF614C;
$amarillo: #F8C02D;
$negro: #333333;
$blanco: #FFFFFF;

//  Fuente
$fuenteprincipal: 'Spartan', sans-serif;