@import '../styles/scss/variables';
@import '../styles/scss/mixin';




* {
    margin: 0px;
    padding: 0px;
}
//  NAVBAR


a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.navbar {
    background-color: $rojo;
    box-shadow: 0px;
    font-family: $fuenteprincipal;
    font-weight: $semi-bold;
    color: white;
}
.navbarPages {
@extend .navbar;
background-color: $negro;
}
.boton-nav {
    background-color: transparent;
    border: 0px;
    margin: 0px;
    padding: 0px;
    color: white;
    &--icono {
        font-size: 2.5rem;
        font-weight: bold;
    }
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
    text-decoration: none;
        &:hover {
        color: white;
        text-decoration: none;
        }
}

.navbar-collapse {
    z-index:2;
}



  // HERO INDEX
    .hero-index {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../images/fabrica-mariano.webp);
    background-position: 75% center ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient($rojo 10%, rgba(255, 97, 76, 0.63), $rojo 90%);
    }
        &__titulo {
            position: absolute;
            text-align: center;
            font-family: $fuenteprincipal;
            font-size: 1rem;
            font-weight: $extra-bold;
            color: $blanco;
                &--img {
                    height: 10rem;
                    padding-bottom: 1rem;
                }
                &--inferior{
                font-size: 1rem;
                font-weight: $semi-bold;
                padding: 1rem 0rem;
                color: rgb(230, 230, 230)
                }
            }
    }


// CONTADOR

.separadorContador {
    background-color: $rojo;
    height: 80vh;
    background-image: url(../images/incendioPacheco-vector-vertical.png);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contador {
    font-family: $fuenteprincipal;
    background-color: $negro;
    &__titulo {

        &--texto {    
        color: $negro;
        text-align: center;
        display: inline;
        background-color: tomato;
        }
    }
    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 0px;
        margin: 0px;
        text-align: center;
        &--icono {
            font-size: 3rem;
            color: $rojo;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        &--numero {
            color: white;
            margin: 0rem;
            font-size: 1.5rem;
            font-weight: $bold
            
        }
        &--tipo {
            color: white;
            font-size: 0.8rem;
            font-weight: $semi-bold
        }
    }
}


// SEPARADOR PARALLAX

.parllaxVoluntarios{
    @include separadorParallax();
    background-image: url(../images/constituyentes-abrazo.webp);
}




// LINEA ROJA

.lineaRoja {
@include separadorbr();
    
}


// VOLUNTARIOS




.voluntarios {
    &__titulo {
        @include titulos-secciones();
    }
    &__parrafo {
        @include parrafos-secciones();
    }
    &__quienes {
        @include parrafos-secciones();
    }
}

// BOTONES

    .botones__secundario {
        @include botonSecundario();
            &:hover {
                @include botones--hover;
            }
    }

    .botones__principal {
        @include botonPrincipal();
        &:hover {
            @include botones--hover;
                }
        }

        .botones__noticias {
            @include botonSeguirLeyendo();
            &:hover {
                @include botones--hover;
            }
        }

/// ULTIMAS NOTICIAS

.ultimasNoticias {
    @include titulos-secciones();
    background-color: $amarillo;
}

/// IMAGENES DE LAS TARJETAS
.cardNoticias {
    @include cardsNoticias();
    &:before {
        @include cardsNoticias__before();
    }

    &__titulo {
        @include cardsNoticias__titulo();
    }
}




.footer {
    background-color: $negro;
    padding-bottom: 1rem;
    margin-top: 3rem;
    padding-bottom: 3rem;
    
    &__bomberos {
        font-size: 1rem;
        padding: 1rem 0px;
        color: white;
        border-bottom: 4px solid $rojo;
        text-align: center;
        padding:3rem 0rem;
        margin-bottom: 4rem;
    
        &--texto{
            color: white;
            word-wrap: break-word;
            text-align: center;
        }
    }
    &__contacto {
        &--icono{
            color: $rojo;
            
        }

        &--textoPrincipal {
            color: white;
            font-size: 0.8rem;
            font-weight: $semi-bold;
            text-align: center;
            margin: 0;
        }
        &--texto {
            color: white;
                font-size: 0.8rem;
                font-weight: $medium;
                text-align: center;
                margin: 0;
        }
    }
    &__redes {
        background: $rojo;
        &--seguinos {
            font-family: $fuenteprincipal;
            font-weight: bold;
        }
        &--icono {
            color: white;
            text-decoration: none;
            padding: 1rem 1rem;
            
        }
    }
}  

@import '../styles/scss/mediaqueries';




.nota {
    &__imagenPrincipal {
        margin: 1rem 0rem;
        width: 100%;
        height: 40vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    &__imagenSecundaria {
        margin-top: 3rem;
        width: 100%;
        height: 40vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__titulo {
        @include titulos-secciones;
        margin-top: 0rem;
    }
    &__fecha {
        font-size: 0.8rem;
        color: $rojo;
        font-weight: $bold;
        text-align: end;
        margin-top: 1rem;
    }
    &__subtitulo {
        font-size: 1rem;
        font-weight: $medium;
        text-align: left;
    }
}


// SIN USAR
.header {
    height: 40%;
    width: 100%;
    background-color: $rojo;
    display: flex;
    justify-content: center;
    &__titulo {
        color: white;
        font-size: 3rem;
        font-weight: bold;
    }
}




// HERO - BANNERS
.bannerPages {
    position: relative;
    width: 100%;
    height: 40vh;
    background-image: url(../images/fabrica-mariano.webp);
    background-position: 75% center ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient($negro 10%, rgba(26, 25, 25, 0.50), $negro 90%);
    }
        &__titulo {
            position: absolute;
            text-align: center;
            font-family: $fuenteprincipal;
            font-size: 1.5rem;
            font-weight: $extra-bold;
            color: $blanco;
            text-align: center;
                &--img {
                    height: 10rem;
                    padding-bottom: 1rem;
                }
                &--inferior{
                font-size: 1rem;
                font-weight: $semi-bold;
                padding: 1rem 0rem;
                color: rgb(230, 230, 230)
                }
            }
    }

    .navbar-quieroserbombero {
        background-color: $negro;
    }
    .navbar-noticias {
        background-color: $negro
    }

.articulo {
    &__titulo {
        @include titulos-secciones;
        margin-bottom: 1.5rem
    }
    &__parrafo {
        @include parrafos-secciones;
        &--resaltado {
            @include parrafos-secciones;
            background: $amarillo;
            text-align: center;
            color: $negro;
            font-weight: $bold;
        }
    }
}



.separadorIngreso {
    @include separadorParallax;
    height: 30vh;
    background-image: url(../images/rio-grupal.webp)
}
.articulo {
    background-color: $negro;
    padding: 1rem 0px;
    color: white;
}

.ingresoCard {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 2rem;
    &__titulo {
        @include titulos-secciones;
        font-size: 1.5rem;
        text-align: center;
    }   
    &__subtitulo {
    text-align: center;
    }
    &__parrafo {
        @include parrafos-secciones;
        text-align: center;
    }
    &__imagen {
        max-width: 50%;
        color: white;
        margin-bottom: 2rem;
    }
    &__lista {
        @include parrafos-secciones;
        list-style: none;
        font-weight: $medium;
        text-align: left;
        margin-top: 1rem;
    }
}

.formularioIngreso {
    background-color: $negro;
    margin-top: 2rem;
    border-top: 1rem;
    border-top-color: $rojo;
    border-top-style: solid;
    border-bottom: 1rem;
    border-bottom-color: $rojo;
    border-bottom-style: solid;
    &__titulo {
        background-color: $amarillo;
        font-family: $fuenteprincipal;
        font-size: 1rem;
        font-weight: $bold;
        color: $negro;
        padding: 0.3rem;
        margin: 2rem 0rem;
    }
}

.form-label {
    font-family: $fuenteprincipal;
    color: white;
    font-weight: $medium;
}

.form-check-label {
    @extend .form-label
}

.form-control {
    margin-bottom: 2rem;

}