* {
  margin: 0px;
  padding: 0px;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.navbar, .navbarPages {
  background-color: #FF614C;
  -webkit-box-shadow: 0px;
          box-shadow: 0px;
  font-family: "Spartan", sans-serif;
  font-weight: 600;
  color: white;
}

.navbarPages {
  background-color: #333333;
}

.boton-nav {
  background-color: transparent;
  border: 0px;
  margin: 0px;
  padding: 0px;
  color: white;
}

.boton-nav--icono {
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  color: white;
}

.navbar-brand {
  color: white;
  text-decoration: none;
}

.navbar-brand:hover {
  color: white;
  text-decoration: none;
}

.navbar-collapse {
  z-index: 2;
}

.hero-index {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../images/fabrica-mariano.webp);
  background-position: 75% center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-index:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #FF614C), color-stop(rgba(255, 97, 76, 0.63)), color-stop(90%, #FF614C));
  background: linear-gradient(#FF614C 10%, rgba(255, 97, 76, 0.63), #FF614C 90%);
}

.hero-index__titulo {
  position: absolute;
  text-align: center;
  font-family: "Spartan", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  color: #FFFFFF;
}

.hero-index__titulo--img {
  height: 10rem;
  padding-bottom: 1rem;
}

.hero-index__titulo--inferior {
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 0rem;
  color: #e6e6e6;
}

.separadorContador {
  background-color: #FF614C;
  height: 80vh;
  background-image: url(../images/incendioPacheco-vector-vertical.png);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contador {
  font-family: "Spartan", sans-serif;
  background-color: #333333;
}

.contador__titulo--texto {
  color: #333333;
  text-align: center;
  display: inline;
  background-color: tomato;
}

.contador__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.contador__main--icono {
  font-size: 3rem;
  color: #FF614C;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contador__main--numero {
  color: white;
  margin: 0rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.contador__main--tipo {
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
}

.parllaxVoluntarios {
  height: 50vh;
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  background-image: url(../images/constituyentes-abrazo.webp);
}

.lineaRoja {
  border: 0.2rem solid #FF614C;
  background-color: #FF614C;
  opacity: 1;
  width: 50%;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.voluntarios__titulo {
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  margin-top: 1.5rem;
  padding: 0px 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.voluntarios__parrafo {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 3rem;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.voluntarios__quienes {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 3rem;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.botones__secundario {
  border-radius: 5px;
  padding: 0.5em 1em;
  background-color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  border: none;
  color: white;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #333333), color-stop(50%, #646464));
  background: linear-gradient(to left, #333333 50%, #646464 50%);
  background-size: 250% 100%;
  background-position: right bottom;
  font-weight: 700;
}

.botones__secundario:hover {
  background-position: left bottom;
  outline: 0;
}

.botones__principal {
  border-radius: 5px;
  padding: 0.5em 1em;
  background-color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  border: none;
  color: #111010;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #F8C02D), color-stop(50%, #FF614C));
  background: linear-gradient(to left, #F8C02D 50%, #FF614C 50%);
  background-size: 250% 100%;
  background-position: right bottom;
  font-weight: 700;
}

.botones__principal:hover {
  background-position: left bottom;
  outline: 0;
}

.botones__noticias {
  padding: 0.2em 0.5em;
  margin: 1rem;
  border: none;
  color: white;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #eb0e0eb9), color-stop(50%, #eb0e0e));
  background: linear-gradient(to left, #eb0e0eb9 50%, #eb0e0e 50%);
  background-size: 250% 100%;
  background-position: right bottom;
}

.botones__noticias:hover {
  background-position: left bottom;
  outline: 0;
}

.ultimasNoticias {
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  margin-top: 1.5rem;
  padding: 0px 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8C02D;
}

.cardNoticias {
  position: relative;
  min-height: 15rem;
  min-width: 20rem;
  margin: 2rem 1rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardNoticias:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(90%, #333333));
  background: linear-gradient(rgba(0, 0, 0, 0), #333333 90%);
}

.cardNoticias__titulo {
  position: absolute;
  background: #F8C02D;
  color: #333333;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  padding: 3px;
  margin-bottom: 1rem;
  margin-left: 10%;
  margin-right: 10%;
}

.footer {
  background-color: #333333;
  padding-bottom: 1rem;
  margin-top: 3rem;
  padding-bottom: 3rem;
}

.footer__bomberos {
  font-size: 1rem;
  padding: 1rem 0px;
  color: white;
  border-bottom: 4px solid #FF614C;
  text-align: center;
  padding: 3rem 0rem;
  margin-bottom: 4rem;
}

.footer__bomberos--texto {
  color: white;
  word-wrap: break-word;
  text-align: center;
}

.footer__contacto--icono {
  color: #FF614C;
}

.footer__contacto--textoPrincipal {
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.footer__contacto--texto {
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.footer__redes {
  background: #FF614C;
}

.footer__redes--seguinos {
  font-family: "Spartan", sans-serif;
  font-weight: bold;
}

.footer__redes--icono {
  color: white;
  text-decoration: none;
  padding: 1rem 1rem;
}

@media (min-width: 786px), (orientation: landscape) {
  .separadorContador {
    background-image: url(../images/incendiopachecohorizontal.png);
  }
}

@media (min-width: 768px) {
  .hero-index {
    color: white;
  }
  __titulo {
    font-size: 2rem;
  }
  __titulo--img {
    height: 15rem;
  }
  __titulo--inferior {
    font-size: 1.5rem;
  }
}

.nota__imagenPrincipal {
  margin: 1rem 0rem;
  width: 100%;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.nota__imagenSecundaria {
  margin-top: 3rem;
  width: 100%;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.nota__titulo {
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  margin-top: 1.5rem;
  padding: 0px 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0rem;
}

.nota__fecha {
  font-size: 0.8rem;
  color: #FF614C;
  font-weight: 700;
  text-align: end;
  margin-top: 1rem;
}

.nota__subtitulo {
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
}

.header {
  height: 40%;
  width: 100%;
  background-color: #FF614C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__titulo {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

.bannerPages {
  position: relative;
  width: 100%;
  height: 40vh;
  background-image: url(../images/fabrica-mariano.webp);
  background-position: 75% center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bannerPages:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #333333), color-stop(rgba(26, 25, 25, 0.5)), color-stop(90%, #333333));
  background: linear-gradient(#333333 10%, rgba(26, 25, 25, 0.5), #333333 90%);
}

.bannerPages__titulo {
  position: absolute;
  text-align: center;
  font-family: "Spartan", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  color: #FFFFFF;
  text-align: center;
}

.bannerPages__titulo--img {
  height: 10rem;
  padding-bottom: 1rem;
}

.bannerPages__titulo--inferior {
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 0rem;
  color: #e6e6e6;
}

.navbar-quieroserbombero {
  background-color: #333333;
}

.navbar-noticias {
  background-color: #333333;
}

.articulo__titulo {
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  margin-top: 1.5rem;
  padding: 0px 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.articulo__parrafo {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 3rem;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.articulo__parrafo--resaltado {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 3rem;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  background: #F8C02D;
  text-align: center;
  color: #333333;
  font-weight: 700;
}

.separadorIngreso {
  height: 50vh;
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  height: 30vh;
  background-image: url(../images/rio-grupal.webp);
}

.articulo {
  background-color: #333333;
  padding: 1rem 0px;
  color: white;
}

.ingresoCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.ingresoCard__titulo {
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  margin-top: 1.5rem;
  padding: 0px 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  text-align: center;
}

.ingresoCard__subtitulo {
  text-align: center;
}

.ingresoCard__parrafo {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 3rem;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  text-align: center;
}

.ingresoCard__imagen {
  max-width: 50%;
  color: white;
  margin-bottom: 2rem;
}

.ingresoCard__lista {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 3rem;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  list-style: none;
  font-weight: 500;
  text-align: left;
  margin-top: 1rem;
}

.formularioIngreso {
  background-color: #333333;
  margin-top: 2rem;
  border-top: 1rem;
  border-top-color: #FF614C;
  border-top-style: solid;
  border-bottom: 1rem;
  border-bottom-color: #FF614C;
  border-bottom-style: solid;
}

.formularioIngreso__titulo {
  background-color: #F8C02D;
  font-family: "Spartan", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #333333;
  padding: 0.3rem;
  margin: 2rem 0rem;
}

.form-label, .form-check-label {
  font-family: "Spartan", sans-serif;
  color: white;
  font-weight: 500;
}

.form-control {
  margin-bottom: 2rem;
}
/*# sourceMappingURL=styles.css.map */